#scan {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#div-scan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#div-QrReader {
    width: 300px;
    height: 300px;
}
